*{
    margin: 0;
    padding: 9;
}

.wrapper{
    width: 1170px;
    margin: auti;
}

header{
    background: url("img/2.jpg");
    height: 100vh;
    -webkit-background-size:cover;
    background-size:cover;
    background-position: center center;
    position: relative;
}  

    